<section class="team section" id="doctors">
  <div class="container mx-auto ">
    <h2 class="team__title h2 mb-[50px] text-center xl:text-left">
      Our Team
    </h2>
    <div class="team__slider swiper min-h-[400px] ">
      <div class="swiper-wrapper mb-[30px]">
        <!-- Slides1 -->
        <div class="swiper-slide">
          <div class="flex flex-col md:flex-row gap-9">
            <!--item-->
            <div class="flex-1 flex flex-col xl:flex-row">
              <div class="flex flex-col xl:flex-row items-center gap-[30px]">
                <!--img-->
                <div class="flex-1">
                  <img src="assets/img/team/doctor-1.png" alt="">
                </div>
                <!--info-->
                <div class="flex-1 flex flex-col">
                  <!--name-->
                  <h4 class="h4 mb-[10px]">Dr. Leslie Taylor</h4>
                  <!-- job-->
                  <div class="font-medium uppercase tracking-[2.24px] text-[#9ab4b7] mb-[20px]">Pediatrician</div>
                  <!--desc-->
                  <p class="font-light mb-[26px] max-w-[320px]">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Distinctio nihil quos ratione!</p>
                  <!--socials-->
                  <div class="flex items-center gap-x-5 text-[30px] text-accent-tertiary">
                    <a href="http://www.youtube.com" target="_blank" class="cursor-pointer hover:text-red-800 ">
                      <i class="ri-youtube-fill"></i>
                    </a>
                    <a href="http://www.facebok.com" target="_blank" class="cursor-pointer hover:text-blue-500 ">
                      <i class="ri-facebook-circle-fill"></i>
                    </a>
                    <a href="http://www.instagram.com" target="_blank" class="cursor-pointer hover:text-orange-600">
                      <i class="ri-instagram-fill"></i>
                    </a>
                    <a href="http://www.pinterest.com" target="_blank" class="cursor-pointer hover:text-red-500 ">
                      <i class="ri-pinterest-fill"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--item-->
            <div class="flex-1 flex flex-col xl:flex-row">
              <div class="flex flex-col xl:flex-row items-center gap-[30px] ">
                <!--img-->
                <div class="flex-1">
                  <img src="assets/img/team/doctor-2.png" alt="">
                </div>
                <!--info-->
                <div class="flex-1 flex flex-col">
                  <!--name-->
                  <h4 class="h4 mb-[10px]">Dr. Zachary Brown</h4>
                  <!-- job-->
                  <div class="font-medium uppercase tracking-[2.24px] text-[#9ab4b7] mb-[20px]">Cardiologist</div>
                  <!--desc-->
                  <p class="font-light mb-[26px] max-w-[320px]">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Distinctio nihil quos ratione!</p>
                  <!--socials-->
                  <div class="flex items-center gap-x-5 text-[30px] text-accent-tertiary">
                    <a href="http://www.youtube.com" target="_blank" class="cursor-pointer hover:text-red-800 ">
                      <i class="ri-youtube-fill"></i>
                    </a>
                    <a href="http://www.facebok.com" target="_blank" class="cursor-pointer hover:text-blue-500 ">
                      <i class="ri-facebook-circle-fill"></i>
                    </a>
                    <a href="http://www.instagram.com" target="_blank" class="cursor-pointer hover:text-orange-600">
                      <i class="ri-instagram-fill"></i>
                    </a>
                    <a href="http://www.pinterest.com" target="_blank" class="cursor-pointer hover:text-red-500 ">
                      <i class="ri-pinterest-fill"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- Slides2-->
        <div class="swiper-slide">
          <div class="flex flex-col md:flex-row gap-9">
            <!--item-->
            <div class="flex-1 flex flex-col xl:flex-row">
              <div class="flex flex-col xl:flex-row items-center gap-[30px]">
                <!--img-->
                <div class="flex-1">
                  <img src="assets/img/team/doctor-1.png" alt="">
                </div>
                <!--info-->
                <div class="flex-1 flex flex-col">
                  <!--name-->
                  <h4 class="h4 mb-[10px]">Dr. Leslie Taylor</h4>
                  <!-- job-->
                  <div class="font-medium uppercase tracking-[2.24px] text-[#9ab4b7] mb-[20px]">Pediatrician</div>
                  <!--desc-->
                  <p class="font-light mb-[26px] max-w-[320px]">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Distinctio nihil quos ratione!</p>
                  <!--socials-->
                  <div class="flex items-center gap-x-5 text-[30px] text-accent-tertiary">
                    <a href="http://www.youtube.com" target="_blank" class="cursor-pointer hover:text-red-800 ">
                      <i class="ri-youtube-fill"></i>
                    </a>
                    <a href="http://www.facebok.com" target="_blank" class="cursor-pointer hover:text-blue-500 ">
                      <i class="ri-facebook-circle-fill"></i>
                    </a>
                    <a href="http://www.instagram.com" target="_blank" class="cursor-pointer hover:text-orange-600">
                      <i class="ri-instagram-fill"></i>
                    </a>
                    <a href="http://www.pinterest.com" target="_blank" class="cursor-pointer hover:text-red-500 ">
                      <i class="ri-pinterest-fill"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--item-->
            <div class="flex-1 flex flex-col xl:flex-row">
              <div class="flex flex-col xl:flex-row items-center gap-[30px]">
                <!--img-->
                <div class="flex-1">
                  <img src="assets/img/team/doctor-2.png" alt="">
                </div>
                <!--info-->
                <div class="flex-1 flex flex-col">
                  <!--name-->
                  <h4 class="h4 mb-[10px]">Dr. Zachary Brown</h4>
                  <!-- job-->
                  <div class="font-medium uppercase tracking-[2.24px] text-[#9ab4b7] mb-[20px]">Cardiologist</div>
                  <!--desc-->
                  <p class="font-light mb-[26px] max-w-[320px]">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Distinctio nihil quos ratione!</p>
                  <!--socials-->
                  <div class="flex items-center gap-x-5 text-[30px] text-accent-tertiary">
                    <a href="http://www.youtube.com" target="_blank" class="cursor-pointer hover:text-red-800 ">
                      <i class="ri-youtube-fill"></i>
                    </a>
                    <a href="http://www.facebok.com" target="_blank" class="cursor-pointer hover:text-blue-500 ">
                      <i class="ri-facebook-circle-fill"></i>
                    </a>
                    <a href="http://www.instagram.com" target="_blank" class="cursor-pointer hover:text-orange-600">
                      <i class="ri-instagram-fill"></i>
                    </a>
                    <a href="http://www.pinterest.com" target="_blank" class="cursor-pointer hover:text-red-500 ">
                      <i class="ri-pinterest-fill"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>
