<section class="hero bg-grey py-12 xl:pt-12 xl:pb-0 overflow-hidden">
  <div class="container mx-auto h-full">
    <!--text & img-->
    <div class="flex flex-col xl:flex-row items-center justify-between h-full">
      <!--text-->
      <div class="hero__text xl:w-[48%] text-center xl:text-left">
        <!--badge-->
        <div
          class="flex items-center bg-white py-[10px] px-[20px] w-max gap-x-2 mb-[26px] rounded-full mx-auto xl:mx-0">
          <i class="ri-heart-pulse-line text-2xl text-accent"></i>
          <div class="uppercase text-base font-medium text-[#9ab4b7] tracking-[2.24px]">
            Live your life
          </div>
        </div>
        <!--title-->
        <h1 class="h1">We care about your health</h1>
        <!--desc-->
        <p class="mb-[42px] md:max-w-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus deserunt
          dicta doloremque maxime nisi nulla possimus vel.</p>
        <!--btn-->
        <button class="btn btn-lg btn-accent mx-auto xl:mx-0 px-4 py-2 ">Contact us</button>
      </div>
      <!--image-->
      <div class="hero__img hidden xl:flex max-w-[814px] self-end">
        <img src="./assets/img/hero/img.png">
      </div>
    </div>
  </div>
</section>

