<section class="brands section">
  <div class="container mx-auto ">
   <div class="flex flex-col xl:flex-row gap-y-12 xl:gap-y-0 justify-between">
     <img class="brands__logo" src="assets/img/brands/brand-1.svg" alt="">
     <img class="brands__logo" src="assets/img/brands/brand-2.svg" alt="">
     <img class="brands__logo" src="assets/img/brands/brand-3.svg" alt="">
     <img class="brands__logo" src="assets/img/brands/brand-4.svg" alt="">
     <img class="brands__logo" src="assets/img/brands/brand-5.svg" alt="">
   </div>
  </div>
</section>
