<section class="departaments section" id="departaments">
  <div class="departaments__bg bg-departaments bg-departaments-style ">
    <div class="departaments__container container mx-auto">
      <div class="flex flex-col xl:flex-row gap-x-5">
        <div class="xl:w-[310px] flex flex-col gap-y-[30px] xl:gap-y-[40px]
                    font-medium uppercase text-center xl:text-left text-base text-[#9ab4b7]
                    xl:pt-3 xl:text-[17px] mb-[50px] xl:mb-0">
          <div class="cursor-pointer hover:text-accent transition-all">
            Laboratory Analysis
          </div>
          <div class="cursor-pointer hover:text-accent transition-all">
            Cardiology Clinic
          </div>
          <div class="cursor-pointer hover:text-accent transition-all">
            Gynecology Clinic
          </div>
          <div class="cursor-pointer hover:text-accent transition-all">
            Pathology Clinic
          </div>
          <div class="cursor-pointer hover:text-accent transition-all">
            Pediatrics Clinic
          </div>
          <div class="cursor-pointer hover:text-accent transition-all">
            Neurology Clinic
          </div>

        </div>
        <div class="xl:w-[640px]">
          <!--title-->
          <h2 class="h2 mb-[20px] text-center xl:text-left">Cardiology Clinic</h2>
          <!--description-->
          <div class="mb-[30px] font-light text-center xl:text-left">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis iste nemo neque nesciunt nihil nulla? A
              dignissimos dolorem dolores eius exercitationem fuga, necessitatibus obcaecati odit porro, quas recusandae
              tenetur vitae?
            </p>
            <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis iste nemo neque nesciunt
              nihil nulla? A
              dignissimos dolorem dolores eius exercitationem fuga, necessitatibus obcaecati odit porro, quas recusandae
              tenetur vitae?
            </p>
          </div>
          <div
            class="flex flex-col xl:flex-row items-center xl:justify-between max-w-[555px] mb-[50px] mx-auto xl:mx-0">
            <div class="hover:cursor-pointer text-accent xl:border-r border-[#dcdcdc] xl:pr-6">Neurocritical Care</div>
            <div class="hover:cursor-pointer text-accent xl:border-r border-[#dcdcdc] xl:pr-6">Neuro Oncology</div>
            <div class="hover:cursor-pointer text-accent">Geatric Neurology</div>
          </div>
          <button class="btn btn-lg btn-accent mx-auto xl:mx-0">
            Learn more
          </button>
        </div>

      </div>

    </div>
  </div>
</section>
