<!--mobile -->
<nav [ngClass]="!toogleBtn?'-left-[300px]':'left-0'"
     class="mnav bg-white bg-pink-200 fixed w-[300px] top-0 h-screen  shadow-2xl lg:hidden transition-all duration-300 z-20">
  <!--nav trigger-->
  <div (click)="toogleBtn=!toogleBtn"
       class="mnav__close-btn bg-primary w-8 h-8 relative -right-full top-8 flex justify-center items-center rounded-tr-lg rounded-br-lg cursor-pointer transition-all">
    <i [ngClass]="!toogleBtn?'ri-arrow-right-s-line':'ri-arrow-left-s-line'"
       class="mnav__close-btn-icon text-2xl text-white"></i>
  </div>
  <!--logo, list item-->
  <div class="px-12 flex flex-col gap-y-12 h-full">
    <!--logo-->
    <a routerLink="">
      <img src="./assets/img/header/logo.svg" alt="">
    </a>
    <!--lista-->
    <ul class="flex flex-col gap-y-5">
      @for (item of listaRutas; track $index) {
        <li>
          <a
            class="text-secondary hover:text-accent transition-all hover:cursor-pointer duration-300" [href]="item.ruta">{{ item.title  | titlecase }}</a>
        </li>
      }
    </ul>
    <!--form-->
    <form class="relative flex gap-x-[10px]">
      <label for="mnav-search-input">
        <i class="ri-search-line text-2xl text-accent"></i>
      </label>
      <input id="mnav-search-input" type="text" placeholder="search..."
             class="outline-none w-[160px] border-b-2 focus:border-b-2 focus:border-accent placeholder:italic">
    </form>
  </div>
</nav>
<!--desktop-->
<nav class="bg-white absolute w-full left-0 -bottom-[86px] shadow-custom1 h-16
  lg:px-[50px]
rounded-[10px] hidden lg:flex lg:items-center lg:justify-between">
  <!--list-->

  <ul class="flex  gap-x-5">
    @for (item of listaRutas; track $index) {
      <li>
        <a
          class="border-r pr-4 text-secondary hover:text-accent transition-all hover:cursor-pointer duration-300" [href]="item.ruta">{{ item.title  | titlecase }}</a>
      </li>
    }
  </ul>
  <form class="relative flex gap-x-[10px]">
    <label for="search-input" class="flex justify-center items-center group">
      <i class="hover:cursor-pointer ri-search-line text-2xl text-accent"></i>
    </label>
    <input id="search-input" type="text"  placeholder="Search..." class="outline-none hover:cursor-text w-[100px] focus:w-[180px] focus:border-b-2 focus:border-accent
    placeholder:italic placeholder:text-base transition-all duration-150">
  </form>

</nav>
