<section class="faq">
  <div class="container mx-auto">
    <h2 class="faq__title h2 text-center mb-[50px]">We've got answers</h2>
    <!--item wrapper-->
    <div class="max-w-5xl mx-auto">
      <!--item-->
      <div class="faq__item px-[30px] pt-7 pb-4 border-b cursor-pointer select-none">
        <!--title & icon-->
        <div class="flex items-center justify-between mb-[10px]">
          <!--title-->
          <h4 class="h4">Why to believe in Insove medical healthcare?</h4>
          <!--icon-->
          <div class="faq__btn  text-accent">
            <i class="ri-add-fill text-2xl"></i>
          </div>
        </div>
        <!--answer-->
        <div class="faq__answer h-0 overflow-hidden">
          <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem enim ipsa, ipsum itaque provident sapiente sed vitae. Asperiores, distinctio doloribus ea ipsum libero quam quisquam quos saepe sequi sint.</p>
        </div>
      </div>
      <!--item-->
      <div class="faq__item px-[30px] pt-7 pb-4 border-b cursor-pointer select-none">
        <!--title & icon-->
        <div class="flex items-center justify-between mb-[10px]">
          <!--title-->
          <h4 class="h4">Will we get healthcare updates after surgery ?</h4>
          <!--icon-->
          <div class="faq__btn text-accent">
            <i class="ri-add-fill text-2xl"></i>
          </div>
        </div>
        <!--answer-->
        <div class="faq__answer h-0 overflow-hidden">
          <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem enim ipsa, ipsum itaque provident sapiente sed vitae. Asperiores, distinctio doloribus ea ipsum libero quam quisquam quos saepe sequi sint.</p>
        </div>
      </div>
      <!--item-->
      <div class="faq__item px-[30px] pt-7 pb-4 border-b cursor-pointer select-none">
        <!--title & icon-->
        <div class="flex items-center justify-between mb-[10px]">
          <!--title-->
          <h4 class="h4">What preparations are necessary before undergoing surgery ?</h4>
          <!--icon-->
          <div class="faq__btn text-accent">
            <i class="ri-add-fill text-2xl"></i>
          </div>
        </div>
        <!--answer-->
        <div class="faq__answer h-0 overflow-hidden">
          <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem enim ipsa, ipsum itaque provident sapiente sed vitae. Asperiores, distinctio doloribus ea ipsum libero quam quisquam quos saepe sequi sint.</p>
        </div>
      </div>
      <!--item-->
      <div class="faq__item px-[30px] pt-7 pb-4 border-b cursor-pointer select-none">
        <!--title & icon-->
        <div class="flex items-center justify-between mb-[10px]">
          <!--title-->
          <h4 class="h4">How long will it take to recover after the surgery ?</h4>
          <!--icon-->
          <div class="faq__btn text-accent">
            <i class="ri-add-fill text-2xl"></i>
          </div>
        </div>
        <!--answer-->
        <div class="faq__answer h-0 overflow-hidden">
          <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem enim ipsa, ipsum itaque provident sapiente sed vitae. Asperiores, distinctio doloribus ea ipsum libero quam quisquam quos saepe sequi sint.</p>
        </div>
      </div>
    </div>
  </div>
</section>
