<section class="testimonial bg-testimonials bg-cover bg-right bg-no-repeat py-12 xl:min-h[595px] xl:py-0">
  <div class="testimonial__container container mx-auto">
    <div class="flex flex-col items-center gap-x-14 xl:flex-row-reverse">
      <div class="hidden xl:flex">
        <img src="assets/img/testimonials/img.png" alt="">
      </div>
      <div class="max-w-[98%] xl:max-w-[710px]">
        <div class="swiper h-[400px]">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide hover:cursor-pointer">
              <div class="h-full flex flex-col justify-center items-start">
                <div class="mac-w-[680px] mx-auto text-center xl:text-left">
                  <p
                    class="font-light relative text-[22px] text-[#4c5354] leading-[190%] text-center xl:text-left cuoteLeft cuoteRight mb-7">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ad alias distinctio eveniet ex id in iste laboriosam laudantium maiores maxime nam natus nesciunt perferendis
                  </span>
                  </p>
                  <!--name-->
                  <div class="text-[26px] text-[#4c5354] font-semibold">Jams Rodrigo</div>
                  <!--Customer-->
                  <div class="text-[#9ab4b7] font-medium uppercase tracking-[2.24px]">Customer</div>
                </div>
              </div>
            </div>
            <!-- Slides -->
            <div class="swiper-slide hover:cursor-pointer">
              <div class="h-full flex flex-col justify-center items-start">
                <div class="mac-w-[680px] mx-auto text-center xl:text-left">
                  <p
                    class="font-light relative text-[22px] text-[#4c5354] leading-[190%] text-center xl:text-left cuoteLeft cuoteRight mb-7">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ad alias distinctio eveniet ex id in iste laboriosam laudantium maiores maxime nam natus nesciunt perferendis
                  </span>
                  </p>
                  <!--name-->
                  <div class="text-[26px] text-[#4c5354] font-semibold">Jams Rodrigo</div>
                  <!--Customer-->
                  <div class="text-[#9ab4b7] font-medium uppercase tracking-[2.24px]">Customer</div>
                </div>
              </div>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
